.quiz-container {
    padding: 15px;
    background-color: #f1f2f7;

    .quiz-add {
        background-color: #fff;
        padding: 16px;
        border-radius: 6px;
        padding-bottom: 24px;

        .add-quizzes {
            font-size: 20px;
            font-weight: 600;
        }

        .form-add {
            .upload-image {
                display: flex;
                align-items: center;

                .btn-upload {
                    font-size: 40px;
                    line-height: 30px;
                    color: #9068ff;
                    cursor: pointer;
                    margin: 0 !important;

                    &:hover {
                        color: #0004ff;
                    }
                }

                .file-upload {
                    font-size: 18px;
                    width: 170px;
                    margin-top: 1px;
                    margin-left: 5px;


                }
            }

            .btn-submit-quiz {
                height: 38px;

                button {
                    margin: 0;
                }
            }

            .more-actions {
                display: flex;
                align-items: center;

                .form-label {
                    display: block;
                    width: 90px;
                    margin-bottom: 0px;
                }

                .css-b62m3t-container {
                    flex: 1;
                    margin-left: 10px;
                }
            }


            .upload-file {
                display: flex;
                align-items: center;

                .form-label {
                    display: block;
                    width: 90px;
                    margin-bottom: 0px;
                }

                .form-control {
                    flex: 1;
                    margin-left: 10px;
                }
            }



        }
    }



    .quiz-list-detail {
        background-color: #fff;
        padding: 16px;
        border-radius: 6px;
        padding-bottom: 24px;

        .list-quizzes {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 600;
        }

        .search {
            float: right;
            outline: none;
            padding: 0 16px;
            border-radius: 7px;
            height: 40px;
            border: 1px solid #ccc;
            box-shadow: 0 0px 2px #ccc
        }


        .image-list-quiz {
            object-fit: cover;
            height: 50px;
            width: 50px;
        }

        table {

            thead {
                background-color: #009688;
                color: #fff;
                font-weight: bold;
                padding: 10px 8px;
            }
        }


    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: red !important;
    font-weight: 600;
    background-color: bisque !important;
}

.nav-link {
    color: #2b303a !important;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .quiz-list-detail {

        .action-btn {
            width: 190px;

            .resize {
                padding: 6px;
                margin-right: 0.5rem !important;
                margin-left: 0rem !important;
            }
        }

        .table {
            tbody {
                tr {
                    td:nth-child(2) {
                        width: 240px !important;
                    }
                }
            }
        }
    }


}