.admin-container {
    display: flex;
    height: 100%;



    .admin-sidebar {
        // .sidebar {}
    }

    .admin-content {
        width: 100%;


        .admin-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            border-bottom: 1px solid #ccc;
            padding: 0 20px 0 10px;

            .admin-header-left {
                cursor: pointer;
                font-size: 20px;
                color: red;
            }

            .admin-header-right {
                display: flex;

                .settings {

                    .nav-link {
                        color: #2b303a;
                    }

                    .username-avatar {
                        color: #2b303a;
                        font-weight: 700;

                        .avatar {
                            height: 30px;
                            width: 30px;
                            object-fit: cover;
                            margin-top: -3px;
                            margin-right: 10px;
                            border-radius: 50%;
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }

        .admin-main {
            height: calc(100vh - 40px);
            overflow-y: overlay;
        }
    }
}