.user-manage-container {
    padding: 15px;

    .title {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 10px;
    }

    .user-content {
        .add-new {
            margin: 15px 0;

            .btn-add {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .table-users {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;



            .search {
                display: block;
                width: 250px;
                outline: none;
                padding: 0 16px;
                border-radius: 7px;
                height: 40px;
                border: 1px solid #ccc;
                box-shadow: 0 0px 2px #ccc;
            }

            .table {
                flex: 1;

                thead {
                    background-color: #1565C0;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 8px;
                }

                tbody {
                    tr {
                        td:nth-child(1) {
                            width: 69px;
                        }

                        td:nth-child(2) {
                            width: 200px;
                        }

                        td:nth-child(3) {
                            width: 390px;
                        }

                        td:nth-child(4) {
                            width: 125px;
                        }
                    }
                }


            }

            .pagination {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .user-content {
        .table-users {
            .table {
                tbody {
                    tr {
                        td:nth-child(1) {
                            width: 50px !important;
                        }

                        td:nth-child(2) {
                            width: 110px !important;
                        }

                        td:nth-child(3) {
                            width: 220px !important;
                        }

                        td:nth-child(4) {
                            width: 75px !important;
                        }
                    }
                }
            }
        }
    }


}