.user-manage-container {
    padding: 15px;
    .title {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .user-content {
        .add-new {
            margin: 15px 0;
            .btn-add {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
        .table-users {
        }
    }
}

.form-label {
    &.label-upload {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        padding: 4px 10px;
        border-radius: 5px;
        background-color: #eeeeee;
        cursor: pointer;

        &:hover {
            background-color: #d6d6d6;
        }
    }
}

.img-preview {
    color: #ccc;
    border: 1px dashed red;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        object-fit: cover;
        height: 100%;
    }
}

.img-preview-small {
    color: #ccc;
    border-radius: 5px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .image {
        object-fit: cover;
        height: 100%;
    }

    .previewImage {
        color: red;
        border: 1px solid black;
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
    }
}
