.wrapper-header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #2b303a;
    height: 60px;
    box-shadow: 0 0 10px #888888;
    position: fixed;
    top: 0;
    z-index: 999;

    .navbar {
        padding: 10px 0;
        width: 100%;
        background-color: transparent !important;
        z-index: 10;

        &.header {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
            max-width: 1703px;
        }

        .navbar-brand {
            margin-right: 30px;
        }

        .nav-group {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .intro {
                margin-left: 40px;

                &:active,
                &:hover {
                    color: #ff4d00;
                }
            }

            .noti-bell {
                position: relative;
                margin-right: 15px;
                cursor: pointer;
                height: 43px;
                width: 43px;
                display: flex;
                justify-content: center;
                align-items: center;

                .bell {
                    svg {
                        height: 22px;
                        width: 22px;
                        object-fit: cover;
                    }
                }

                .number {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background: rgb(64, 122, 214);
                    color: rgb(255, 255, 255);
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    font-size: 12px;
                    padding-left: 6.5px;
                    padding-top: 1px;
                    font-family: "Roboto", sans-serif !important;

                }

                .noti-text {
                    position: absolute;
                    top: 40px;
                    right: 3px;
                    opacity: 0;
                    transition: 0.3s all ease-in-out;
                    transform: none;
                    visibility: hidden;
                    width: 315px;
                    min-height: 100px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 8px;
                    background-color: rgb(255, 255, 255);
                    color: rgba(0, 0, 0, 0.87);
                    overflow: hidden auto;

                    &.active {
                        opacity: 1;
                        transform-origin: 50px 50px;
                        visibility: visible;
                    }

                    div {
                        font-weight: 500;
                        padding: 10px 16px;

                    }

                    .header-noti {
                        font-weight: 700;
                        padding-left: 16px;
                        padding-top: 20px;
                        padding-bottom: 10px;
                    }

                    .active-noti {
                        background-color: #ff9100;
                        color: blue;
                    }

                }

            }

            .settings {
                margin-left: 40px;

                .username-avatar {


                    .avatar {
                        height: 30px;
                        width: 30px;
                        object-fit: cover;
                        margin-top: -3px;
                        margin-right: 10px;
                        border-radius: 50%;
                        transform: scale(1.3);
                    }
                }




            }
        }

        .navbar-nav {
            .btn {
                font-weight: 600
            }

            .btn-login:hover {
                color: #212529;
                background-color: rgba(22, 24, 35, 0.05);
            }

            .nav-link {
                color: #2b303a;

                &.active,
                &:active,
                &:hover {
                    color: #ff4d00 !important;
                }
            }
        }
    }
}