.wrapper-header {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #2b303a;


    .navbar {
        padding: 10px 0;
        width: 100%;
        background-color: transparent !important;
        z-index: 10;

        &.header {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
            max-width: 1703px;
        }

        .navbar-brand {
            margin-right: 30px;
        }

        .nav-group {
            display: flex;
            justify-content: center;
            align-items: center;

            .intro {
                margin-left: 40px;

                &:active,
                &:hover {
                    color: #ff4d00;
                }
            }

            .settings {
                margin-left: 40px;

                .username-avatar {


                    .avatar {
                        height: 30px;
                        width: 30px;
                        object-fit: cover;
                        margin-top: -3px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                }




            }
        }

        .navbar-nav {
            .btn {
                font-weight: 600
            }

            .btn-login:hover {
                color: #212529;
                background-color: rgba(22, 24, 35, 0.05);
            }

            .nav-link {
                color: #2b303a;

                &.active,
                &:active,
                &:hover {
                    color: #ff4d00 !important;
                }
            }
        }
    }
}